<h1>@ViewBag.title</h1>

<form method="post">

    @foreach (var record in ViewBag.records)
    {
        <input type="checkbox" name="recordIds" id="@record.ID" value="@record.ID" />
        <label for="@record.ID">@string.Format("{0} {1}", record.Label, record.RecordNumber)</label>
        <br />
    }

    <input type="submit" value="Remove Selected Record(s)" />
</form>
